.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    margin: 0;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}

.d-block {
    width: 100%;
}