body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.todo-item-container {
  margin: 10px;
  border: 1px solid black;
  background-color: coral;
  cursor: pointer;
  border-radius: 8px;
}

.selected {
  background-color: greenyellow;
}

.btn-delete {
  background-color: red;
}
